<div class="min-w-screen min-h-screen bg-[#060522] bg-gradient-to-t from-[#060522] from-30% to-[#061434] items-center justify-center">
  
  <nav class="text-white font-dmsans font-bold flex">
    <a href="#" class="p-3 pl-5 text-[32px] fixed hover:text-gray-300 duration-150" routerLink="">beaugosse</a>

      <div class="p-[18px] pr-10 fixed top-0 right-0 text-2xl [&>*]:ml-10">
        <a href="#" class="hover:text-gray-300 duration-150" routerLink="movies">Movies</a>
        <a href="#" class="hover:text-gray-300 duration-150" routerLink="tvshows">TV Shows</a>
        <a href="#" class="hover:text-gray-300 duration-150" routerLink="people">People</a>
      </div>

  </nav>

  <router-outlet></router-outlet>
  
</div>

