<div>

    <h1 class="top-0 left-0 text-white font-dmsans p-3 pl-[1px] ml-[185px] text-[32px] fixed">tvshows</h1>

    <!--popular tvshows-->
    <h2 class="text-white font-dmsans mt-20 p-3 pl-5 text-[24px] items-center flex flex-col">Popular</h2>

    <div class="overflow-x-auto p-5 no-scrollbar">
        <div class="flex">
            <a *ngFor="let p of popularTvResult" class="max-h-[300px] w-auto mr-3 flex-shrink-0" [routerLink]="['/tvshowdetails', p.id]" [class.mr-3]="p.poster_path !== null">
                <img *ngIf="p.poster_path !== null" src="https://image.tmdb.org/t/p/original/{{ p.poster_path }}" alt="{{p.title}}" class="max-h-[300px] rounded-lg w-auto hover:scale-110 duration-150">
            </a>
        </div>
    </div>

    <!--toprated tvshows-->
    <h2 class="text-white font-dmsans mt-10 p-3 pl-5 text-[24px] items-center flex flex-col">Top Rated</h2>

    <div class="overflow-x-auto p-5 no-scrollbar">
        <div class="flex">
            <a *ngFor="let t of topTvResult" class="max-h-[300px] w-auto mr-3 flex-shrink-0" [routerLink]="['/tvshowdetails', t.id]" [class.mr-3]="t.poster_path !== null">
                <img *ngIf="t.poster_path !== null" src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" alt="{{t.title}}" class="max-h-[300px] rounded-lg w-auto hover:scale-110 duration-150">
            </a>
        </div>
    </div>

    <!--on air tvshows-->
    <h2 class="text-white font-dmsans mt-10 p-3 pl-5 text-[24px] items-center flex flex-col">On The Air</h2>

    <div class="overflow-x-auto p-5 no-scrollbar">
        <div class="flex">
            <a *ngFor="let o of onAirResult" class="max-h-[300px] w-auto mr-3 flex-shrink-0" [routerLink]="['/tvshowdetails', o.id]" [class.mr-3]="o.poster_path !== null">
                <img *ngIf="o.poster_path !== null" src="https://image.tmdb.org/t/p/original/{{ o.poster_path }}" alt="{{o.title}}" class="max-h-[300px] rounded-lg w-auto hover:scale-110 duration-150">
            </a>
        </div>
    </div>

</div>